/* Remove default spacing */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body Styling */
body{
    font-family:Arial, sans-serif;
}

/* Navbar */
.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:black;

    color:white;

    padding:20px 40px;
}
/* HERO SECTION */
.hero{

    height:90vh;

    background:linear-gradient(to right, #4facfe, #00f2fe);

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

    padding:20px;
}

/* HERO TITLE */
.hero h1{
    font-size:50px;
    margin-bottom:20px;
}

/* HERO TEXT */
.hero p{
    font-size:20px;
    margin-bottom:20px;
}

/* HERO BUTTON */
.hero button{
    padding:12px 25px;
    border:none;
    background:white;
    color:black;
    font-size:16px;
    cursor:pointer;
    border-radius:5px;
    transition:0.3s;
}

/* BUTTON HOVER EFFECT */
.hero button:hover{
    background:black;
    color:white;
}

/* Logo */
.logo{
    font-size:24px;
    font-weight:bold;
}

/* Navigation Links */
.nav-links{

    display:flex;

    list-style:none;

    gap:20px;
}

/* Navigation Link Text */
.nav-links a{

    text-decoration:none;

    color:white;

    font-size:18px;
}